<div class="well news-post">
    <div class="container-fluid">
        <header>
            <h3>Welcome to the new Dota 2 Community!</h3>
        </header>

        <hr/>

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 post-image-wrapper">
                <img class="img-rounded post-image" src="images/dota-2-logo.jpg"/>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 post-body-wrapper">
                <p>
                    This is the first post of many on our awesome freaking website. You can come here to meet new people, recruit players for your roster and organize scrims against other teams to work your way up the ranking!
                </p>
            </div>
        </div>

        <hr />

        <footer style="text-align: right">
            <small><em>Posted by Nick on Wednesday 10 December 2014</em></small>
        </footer>
    </div>
</div>

<div class="well news-post">
    <div class="container-fluid">
        <span class="glyphicon glyphicon-calendar post-icon"></span>
        <br />
        <h5>Scrim Scheduled: SDG vs Sounds Legit</h5>
        <h6>Friday 12 December 2014 @ 8PM</h6>

        <hr />

        <footer style="text-align: right">
            <small><em>Posted automatically by DotaRecruits.net</em></small>
        </footer>
    </div>
</div>

<div class="well news-post">
    <div class="container-fluid">
        <span class="glyphicon glyphicon-certificate post-icon"></span>
        <br />
        <h5>Congratulations to SDG for defeating Sounds Legit.</h5>
        <h6><ins>View match details here</ins></h6>

        <hr />

        <footer style="text-align: right">
            <small><em>Posted automatically by DotaRecruits.net</em></small>
        </footer>
    </div>
</div>

<div class="well news-post">
    <div class="container-fluid">
        <span class="glyphicon glyphicon-user post-icon"></span>
        <br />
        <h4>Super Derp Gaming .. A new team on the block!</h4>
        <div style="padding-left: 25px;">
            <h5><span class="glyphicon glyphicon-minus"></span>Nick '1337' Corin</h5>
            <h5><span class="glyphicon glyphicon-minus"></span>Jp 'Peanutbutter'</h5>
            <h5><span class="glyphicon glyphicon-minus"></span>Luke 'Crunk Daddy' Boniface</h5>
            <h5><span class="glyphicon glyphicon-minus"></span>Tristan 'FuNkY StArFiSh' Peters</h5>
            <h5><span class="glyphicon glyphicon-minus"></span>Sean 'ng-repeat' Curtis</h5>
        </div>

        <hr />

        <footer style="text-align: right">
            <small><em>Posted automatically by DotaRecruits.net</em></small>
        </footer>
    </div>
</div>