<div class="well">
    <div class="container-fluid">
        <h3>Filter Options</h3>
        <hr />
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="input-group">
                    <label for="team_name">Team Name</label>
                    <input ng-model="searchText.team_name" type="text" class="form-control" id="team_name" placeholder="Team Name"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="well">
    <div class="container-fluid">
        <h3>Team Rankings</h3>

        <hr />

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Clan Name</th>
                <th>Team Name</th>
                <th>Team Captain</th>
                <th>Games Played</th>
                <th>Rating Score</th>

            </tr>
            </thead>
            <tbody>
            <tr dir-paginate=" | filter: searchText | itemsPerPage: page_size">
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>

            </tr>
            </tbody>
        </table>
        <hr />

        <dir-pagination-controls boundary-links="true" template-url="js/dirPagination.tpl.html"></dir-pagination-controls>

    </div>
</div>