
@media (max-width: 768px) {

    body {
        background-image: url("../images/dota-background.jpg");
    }

    #main-wrapper {
        margin: 0;
        padding: 0;
    }

    .nav-profile-image {
        display: none;
    }

    #main-content {
        border: none;
    }
}

@media (min-width: 768px) {
    .nav-profile-image {
        height: 40px;
        margin-top: 5px;
    }

    #main-content {
        border-left: 2px solid #8e2c1f;
        border-right: 2px solid #8e2c1f;
        border-bottom: 2px solid #8e2c1f;
        background-image: url("../images/dota-background.jpg");
        background-repeat: no-repeat;
        background-color: #2D0007;
    }

    .left-side-image {
        width: 100%;
    }

    .right-side-image {
        width: 100%;
    }

    body {
        background-image: url("../images/bg_main.jpg");
        background-size: 100%;
    }
}

html, body {
    height: 100%;
}

.navbar {
    background-image: url('../images/noise-background.jpg');
    background-color: #F8F8F8;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #555;
    background-color: #E7E7E7;
    opacity: 0.6;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #E7E7E7;
    opacity: 1;
}

.left-side-image {
    margin-top: 25px;
    border: 1px solid #F8F8F8;
}

.right-side-image {
    margin-top: 25px;
    border: 1px solid #F8F8F8;
}

#main-wrapper {
    position: absolute;
    top: 50px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#main-content {
    padding-top: 10px;
    height: 100%;
    min-height: 100%;
}

/* news.css */

.news-post {
    background-color: rgba(248,248,248,0.6);
    color: #333;
}

.post-icon {
    font-size: 28px;
}

hr {
    border-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-body-wrapper {
    padding-top: 15px;
    text-align: justify;
    font-size: 16px;
}