@media (max-width: 992px) {
    .post-body-wrapper {
        padding-top: 15px;
    }

    .post-image {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        font-size: 36px;
    }

    h5 {
        font-size: 30px;
    }

    h6 {
        font-size: 24px;
    }

    .post-icon {
        font-size: 34px;
    }

    .post-body-wrapper {
        padding-top: 15px;
        text-align: justify;
        font-size: 28px;
    }
}

@media (min-width: 992px) {

    .post-image {
        width: 100%;
    }

    .post-image-wrapper {
        border-right: 1px solid #333;
    }

    .post-icon {
        font-size: 28px;
    }

    .post-body-wrapper {
        padding-top: 15px;
        text-align: justify;
        font-size: 16px;
    }
}

.news-post footer {
    text-align: right;
}

hr {
    border-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}